<mat-dialog-content class="mat-typography">
  <table mat-table calss="edit_table" [dataSource]="dataSource" class="info_table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let user"><input matInput #input1 maxlength="30" [formControl]="nameToAdd"></td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let user"><input matInput #input2 maxlength="20" [formControl]="userNameToAdd"></td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let user"><input matInput [formControl]="emailToAdd"></td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let user"><input matInput #input4 maxlength="9" [formControl]="phoneToAdd"></td>
    </ng-container>

    <!-- Web Column -->
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef> Web </th>
      <td mat-cell *matCellDef="let user"><input matInput #input5 [formControl]="webSiteToAdd"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content><br>
<p>Form Status: {{ userForm.status }}</p>
<mat-dialog-actions align="end">
  <button mat-button [disabled]="!userForm.valid" style="color: darkgreen" [mat-dialog-close]="true" (click)="changeData()">Change</button>
  <button mat-button style="color: darkred" [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
