<div class="home_page">
  <p>Your Smart Home Lights</p>
  <p [ngClass]="{'status': true, 'online': connectionStatus, 'offline': !connectionStatus}" class="status">
    Connection status:&nbsp;<span>{{connectionStatus ? "Online" : "Offline"}}</span>
  </p>

  <div class="legend">
    <span><mat-icon class="status-online">lightbulb</mat-icon> - światło włączone &nbsp;</span>
    <span><mat-icon class="status-offline">lightbulb</mat-icon> - światło wyłączone &nbsp;</span>
  </div>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let room of Rooms"
      [colspan]="room.cols"
      [rowspan]="room.rows"
      [style.background]="room.color">
      {{room.text}}<mat-icon [ngClass]="{'lightIcon': true, 'status-online': room.status, 'status-offline': !room.status}">lightbulb</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
</div>
