<div class="home_page_div">
<p class="home_page_p">Home page</p>
<!--<ul>-->
<!--  <li *ngFor="let person of peopleToPrint$ | async">{{person.name}}</li>-->
<!--</ul>-->
  Search for user <mat-search-bar [(ngModel)]="nameToSearch" (keyup)="searchForName()" (onClose)="restartTable()"></mat-search-bar>
  <table mat-table [dataSource]="dataSource" matSort>
  <!-- Id Column -->
  <ng-container matColumnDef="lp">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef> Lp. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef> Full Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <!-- Button Column -->
  <ng-container matColumnDef="info">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef></th>
    <td class="action_button" mat-cell *matCellDef="let element">
      <button mat-button (click)="showProfile(element._id)" matTooltip="Show user" [matTooltipShowDelay]="showDelay.value"><mat-icon >person</mat-icon></button>
    </td>
  </ng-container>

  <!-- ButtonDel Column -->
  <ng-container matColumnDef="del">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef>Actions</th>
    <td class="action_button" mat-cell *matCellDef="let element">
      <button mat-button (click)="removeData(element._id)" matTooltip="Delete user" [matTooltipShowDelay]="showDelay.value"><mat-icon >delete_forever</mat-icon></button>
    </td>
  </ng-container>

  <!-- ButtonEdit Column -->
  <ng-container matColumnDef="edit">
    <th style="text-align:center;" mat-header-cell *matHeaderCellDef></th>
    <td class="action_button" mat-cell *matCellDef="let element">
      <button mat-button (click)="editData(element._id)" matTooltip="Edit user" [matTooltipShowDelay]="showDelay.value"><mat-icon >edit</mat-icon></button>
    </td>
  </ng-container>

  <!-- ButtonDelBox Column -->
  <ng-container class="checkbox_th" matColumnDef="delAll">
    <th class="th_buttons" mat-header-cell *matHeaderCellDef="let element">
      <div class="th_checkbox_div">
      <button class="checkbox_buttons_actions" matTooltip="Delete selected" [matTooltipShowDelay]="showDelay.value" mat-button (click)="deleteSelectedBoxes()"><mat-icon>delete</mat-icon></button>
      <button class="checkbox_buttons_actions" matTooltip="Select all" [matTooltipShowDelay]="showDelay.value" mat-button (click)="checkboxSelectAll()"><mat-icon>check_box</mat-icon></button>
      <button class="checkbox_buttons_actions" matTooltip="Deselect all" [matTooltipShowDelay]="showDelay.value" mat-button (click)="checkboxDeSelectAll()"><mat-icon>check_box_outline_blank</mat-icon></button>
      </div>
    </th>
    <td class="action_button" mat-cell *matCellDef="let element">
      <input type="checkbox" value="{{element._id}}" name="box" (change)="checkboxCheck($event, element._id)">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  <button mat-button class="add_button" (click)="addData()" [matTooltipShowDelay]="showDelay.value" matTooltip="Add new user"><mat-icon>person_add</mat-icon></button>
</div>
