/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 2px;
}
.home_page_div{
  min-width: 100vh;
  min-height: 85vh;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(222,222,222, 0.3);
}
.home_page_p{
  margin-top: 2%;
  font-size: 50px;
  margin-bottom: 2%;
}
table {
  margin-top: 1%;
  width: 100%;
}
td,th{
  padding-left: 30px;
  height: 4vh;
  min-width: 2vh;
  text-align: center;
}
input{
  font-size: large;
}
.action_button{
  border-right: 1px solid rgba(222,222,222, 0.5);
  border-left: 1px solid rgba(222,222,222, 0.5);
  width: 2vh !important;
}
.mat-header-cell{
  background-color: #C8D5DE;
  font-size: large;
}
.mat-cell{
  background-color: #DEDEC8;
}
.mat-button.add_button{
  background-color: #C8D5DE;
  margin-top: 1%;
}
.mat-button{
  background-color: #DEDEC8;
}
.mat-typography input{
  border: none;
  background-color: #DEDEC8;
  border-bottom: 2px solid dimgrey;
  width: 30vh;
}
p{
  text-align: center;
}
